{% extends "layout.html" %}

{% block title %}CE Simplified{% endblock title%}
{% block head %}
    <link rel="stylesheet" href=" {{url_for('static', filename='index-style.css')}}">
{% endblock head %}

{% block body %}

<h1 id="middle-title">COURSE</h1>

<section class="course">
    <span onclick="select_course(this, '0');" id="all-topic"><u>All</u></span>
    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    {% for cou in course %}
        <span onclick="select_course(this, '{{cou.id}}');"><u>{{cou.title}}</u></span>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    {% endfor %}
</section>

<div id="course-container"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src=" {{url_for('static', filename='script.js')}} "></script>

{% endblock body %}


<!-- 

create course
   Cource Name :> DSA

Create Topic
   Topic name :> Recursion
   course name :> DSA 

Add Videos:
   Video links :> youtube.com/ehakjhd...
   Topic Name :> Recursion
 -->