<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %} {% endblock head%}
    <title>{% block title %}CE Simplified{% endblock title%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

   <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/Favicon/apple-touch-icon.png')}}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/Favicon/favicon-32x32.png')}}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/Favicon/favicon-16x16.png')}}">
   <link rel="manifest" href="{{url_for('static', filename='images/Favicon/site.webmanifest')}}">

</head>
  <body>
    <nav>
        <div class="menu-icon">
           <span class="fas fa-bars"></span>
        </div>
        <div>
         <a href="/course" class="logo">CE Simplified</a>
        </div>
        <div class="nav-items">
           <li><a href="/course">Course</a></li>
           <li><a href="/logout">Logout</a></li>
           <li><a href="#">New Account</a></li>
        </div>
        <div class="search-icon">
           <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
           <span class="fas fa-times"></span>
        </div>
        <form action="/search" method="POST">
           <input type="search" name='search-value' class="search-data" placeholder="Search" required>
           <button type="submit" class="fas fa-search"></button>
        </form>
     </nav>
    
    {% block body %}{% endblock body %}

    <script src="{{url_for('static', filename='nav-script.js')}}"></script>
  </body>
</html>