<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login-style.css')}} ">
</head>
<body>

<div class="login-page">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <p align="center" class="info-message">{{ message }}</p>
    {% endfor %}
    {% endif %}
  {% endwith %}

    <div class="form">
        <p id="logo" align="center">CE Simplified</p>

      <form class="login-form" action="/login" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="checkbox" id="rm" name="remember">
        <label for="rm">Remember Me</label>
        <button type="submit">login</button>
        <p class="message" align="center">Get New <a href="#">Account</a></p>
      </form>
    </div>
  </div>
</body>
</html>
