#middle-title {
  display: flex;
  font-size: 64px;
  margin: 50px 0px;
  justify-content: center;
  font-family: "Jura", sans-serif;
  align-items: center;
}

/* SELECT COURSE BLOCK */

.course{
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  color: #968AB6;
  font-size: 30px;
  margin: 0px 100px;
}

/*  TOPIC BLOCK WITH IMAGE */
div#course-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div#course-container section{
  margin-top: 30px;
}
div.course-img{
  content: url("image.jpg");
  width: 400px;
}
div.course-details{
  font-family: "Mulish", sans-serif;
  width: 400px;
  background-color: #3B3086;
  color: white;
}
div.course-title{
  font-size: 25px;
  padding-top: 5px;
  margin-left: 10px;
}
div.course-metadata{
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 10px;
}
div#course-container a{
  text-decoration: none;
}